# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Virtual environments
env/
venv/
ENV/
.venv/
env.bak/
venv.bak/

# VS Code settings
.vscode/

# Data files
*.csv
*.tsv
*.data
*.dat
*.h5
*.hdf5

# Model files
*.pkl
*.joblib
*.pt
*.pth
*.h5
*.ckpt

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*

# pip wheel files
*.whl

# pytest cache
.pytest_cache/

# mypy
.mypy_cache/

# Coverage reports
htmlcov/
.coverage
.tox/
.cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Jupyter Notebook metadata
.ipynb_metadata/
.ipynb_checkpoints